.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px 0;
    text-align: left;
    height : 100%;
    display: flex;
    flex-direction: column;
  }
  .form_wrapper {
    position: relative;
    top :20%;
    left : 17%;
    height : 80%;
  }
  
  .form_input {
    margin-bottom: 20px;
    width: 60%;
  }
  
  .form_button {
    width: 60%;
    background-color: #fffafa;
    color: #777777;
  }  
  .form_button:hover{
    background-color: #79C7C5;
    color : snow;
    cursor: pointer;
  }

  .chatBox{
    background-color: #E6F3F6;
    opacity : 0.8;
    width : 70%;
    height : 100%;
    top : 0%;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    left : 30%;
    gap :1em;
  }
  
  .chatHeader{
    width:100%;
    height : 10%;
    position: sticky;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: white;
    color: #777777;
    display: flex;
    flex-direction: row;
    gap : 20px;
}

.ProfilePic{
  border-radius: 50%;
  height : 50px;
  width : 50px;
  position: relative;
  left : 3%;
  top : 3%;
}

.headerName{
margin-bottom: 1%;
font-size: larger;
}

.headOrder{
  display: flex;
  position: relative;
  left : 3%;
}


.menu-icon{
  position: absolute;
  left : 88%;
  top : 40%;
}

.Sign_In_Button{
  border : none;
  background-color: transparent;
  color : green;
  position: relative;
  top : 3%;
}

.Sign_In_Button:hover{
  cursor: pointer;
  text-decoration: underline;
}

.Profile{
  border-radius: 50%;
  height : 8em;
  width : 8em;
  position: relative;
  left : 34%;
  top : 10%;
}
.Profile:hover {
  cursor: pointer;
  background-color: #777777;
}

.Image_Text{
  position: relative;
  left : 33%;
  font-weight: 100;
}

.ProfileUploader{
  height : 70%;
  width : 50%;
  left : 20%;
  position: absolute;
  top : 10%;
  display: flex;
  flex-direction: column;
  gap : 15%;
  border: solid 1px gray;
}

.pillButton{
  display: inline-block;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 4px 2px;
  width : 25%;
  background-color: snow;
  color : #777777;
  border: 1px solid;
}

.pillButton:hover{
  cursor: pointer;
  background-color: #79C7C5;
  color : snow;
}

.ImageUploader{
  position: absolute;
  left : 35%;
  top : 30%;
  display: none;
}

.logOut{
position : absolute;
left : 84%;
top : 95%;
background-color: black;
width : 10%;
height: 80%;
text-align: center;
opacity: 0.8;
border-radius: 2vh;
color : snow;
}
.logOut:hover{
  cursor: pointer;
  background-color: #79C7C5;
}

.menu-icon:hover {
  cursor : pointer;
  opacity: 0.7;
}

.Login_Header{
  font-weight: 100;
  font-size: x-large;
  position: relative;
  left: 20%;
  top : 10%;
}