.Sender{
    overflow: auto;
    width : 75%;
    height : 500em;
    opacity: 1;
    left : 7%;
    top : 15%;
    padding-left : 1%;
    font-size: large;
    position: relative;
    border : none;
    border-color: #F9FBFF;
    background-color: #F9FBFF;
    color: #000000;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
 }
 .Sender:focus{
        outline: none !important;
        border:none;
        border-radius: 2vh;
 }

::placeholder{
    color: #AAB5B5;}
.senderBox{
    height : 10%;
    width : 100%;
    position: relative;
    border : none;
    display: flex;
    flex-direction: row;
    background-color: #F9FBFF;
}
.messageOptions{
    border-radius: 50%;
    background-color: #F9FBFF ;
    height : 2em;
    width : 2em;
    left : 3%;
    top : 10%;
    position: relative;
}
 
.PlusCenter{
position: relative;
top : 30%;
left : 35%;
}
.messageOptions:hover{
    cursor:pointer;
    opacity: .5;
}
 
.PopUpList{
    background-color: black;
    color: #F9FBFF;
    opacity: 0.8;
    position: absolute;
    border-radius: 2vh;
    top : 82%;
    left : 2%;
    width : 10em;
    height: 6%;
    list-style: none; 
    padding-top: 1%;
    padding-left: 2%;
}

.content{
    display: flex;
    flex-direction: row;
    gap : 5%;
    top : 10%;
    position: relative;
}
.PopUpList:hover{
    opacity: 1;
    cursor:pointer;
}

.Upload{
display: none;
}
